.logo{
    left:30px;
    position:absolute;
    width:60px;
    height:60px;
    opacity:initial;
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.9));
}

.cabecera{
    padding:6px;
    border-radius:10%;
    margin:5px -0.5px;
    border:2px black solid;
}

.elcabecera{
    margin-left:150px;
}

.busqueda{
    margin:0px 15px;
}

div{
    position:relative;
    float:left;
    margin-right:30px;
    margin-top:5px;
    margin:center;
}

header{
    margin:center;
    margin-top:5px;
    margin-bottom:10px;
}

#superior{
    background-color:rgba(231,84,84);
    height:60px;
}

nav{
    float:left;
    margin-right:30px;
    margin-bottom:5px;
    margin-top:5px;
}

#inferior{
    position:relative;
    bottom:20px;
    background-color:rgb(235,35,35);
    height:60px;
    margin-bottom:5px;
}

#inferior div{
    top:10px;
    margin-left: 80px;
    margin-right: 80px;
}

#inferior nav{
    position:relative;
    top:10px;
    margin-left: 80px;
    margin-right: 80px;
}

div .paginacion{
    float:left;
}

a{
    margin-left:0px;
    margin-right:0px;
    color:black;
    text-align: center;
    text-decoration:none;
}

footer{
    margin:500px 0px;
    text-align:center;
    background-color:rgb(235,35,35);
}

table .paginacion{
    margin:40px 525px;
    float:left;
    border-collapse:collapse;
}

td{
    border: slateblue 3px solid;
    padding:10px;
    background-color:cornflowerblue;
}

.producto{
    position:relative;
    display:inline-block;
    text-align:center;
    margin: 10px 15px;
    border:black 1px solid;
    width:225px;
    height:225px;
}

body{
    background-color:rgb(255, 255, 255);
}

.texto{
    position:absolute;
    text-align:center;
}

img{
    position:relative;
    width:225px;
}

img:hover{
    opacity:0.30;
}