div{
    position:relative;
    float:left;
    margin-right:30px;
    margin-top:5px;
    margin:center;
}

header{
    margin:center;
    margin-top:5px;
    margin-bottom:10px;
}

#superior{
    background-color:dimgray;
    height:60px;
}

nav{
    float:left;
    margin-right:30px;
    margin-bottom:5px;
    margin-top:5px;
}

#inferior{
    position:relative;
    bottom:20px;
    background-color:brown;
    height:60px;
    margin-bottom:5px;
}

#inferior div{
    top:10px;
    margin-left: 80px;
    margin-right: 80px;
}

#inferior nav{
    position:relative;
    top:10px;
    margin-left: 80px;
    margin-right: 80px;
}

div .paginacion{
    float:left;
}

a{
    margin-left:0px;
    margin-right:0px;
    color:black;
    text-align: center;
    text-decoration:none;
}

footer{
    margin:0;
    text-align:center;
}

table{
    margin-top:40px;
    margin-left:500px;
    border:indianred 1px solid;
    float:left;
    border-collapse:collapse;
    background-color:cornflowerblue;
}

td{
    border: slateblue 3px solid;
    padding:10px;
}

.producto{
    margin-top:10px;
    margin-bottom:10px;
    border:black 1px solid;
    width:225px;
    height:225px;
}