.logo{
    left:30px;
    position:absolute;
    width:60px;
    height:60px;
    opacity:initial;
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.9));
    
    
}

.cabecera{
    padding:6px;
    border-radius:10%;
    margin:5px -0.5px;
    border:2px black solid;
}

.elcabecera{
    margin-left:150px;
}

.busqueda{
    margin:0px 15px;
}

div{
    position:relative;
    float:left;
    margin-right:30px;
    margin-top:5px;
    margin:center;
}

header{
    margin:center;
    margin-top:5px;
    margin-bottom:10px;
    padding: 10px;
}

#superior{
    background-color:rgba(231,84,84);
    height:60px;
    margin: 0;
}

nav{
    float:left;
    margin-right:30px;
    margin-bottom:5px;
    margin-top:5px;
}

a{
    margin-left:0px;
    margin-right:0px;
    color:black;
    text-align: center;
    text-decoration:none;
}

footer{
    margin:0;
    text-align:center;
    background-color:rgb(235,35,35);
}

table .paginacion{
    margin:40px 525px;
    float:left;
    border-collapse:collapse;
}

td{
    border: slateblue 3px solid;
    padding:10px;
    background-color:cornflowerblue;
}

body{
    background-color:rgb(255, 255, 255);
    
}

img{
    position:relative;
    width:225px;
}

img:hover{
    opacity:0.30;
}
section#cont1{
    position:relative;
	margin:1% auto;
	width:auto;
    height:700px;
}
aside#izq{
    position:absolute;
    left:0;
    top: 0;
    width:50%;
    height:90%;    
    /*background-color:rgb(241, 236, 184);*/
}
article#cont{
    position:absolute;
    right:0;
	top:0;
	width:50%;
    height:90%;
    /*background-color: rgb(238, 186, 186);*/
}
article#pro_ima{
    position: relative;
    width: 98%;
    height: 100%;
    margin: 0 auto;
    border-radius: 7%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;
}
img#img1{
    width: 75%;
    height: 75%;
    margin-left: 12.5%;
    margin-top: 2%;
    border-radius: 7%;
}
p#titulo_ima_pro{
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
    padding-inline: 1%;
    font-family:Geneva, Tahoma, sans-serif;
}
article#comentario{
    position: relative;
    width: 98%;
    height: 30%;
    margin: 2% auto;
    border-radius: 15%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;
    
}
article#top_pro{
    position: relative;
    width: 98%;
    height: 100%;
    margin: 0% auto;
    /*border-radius: 7%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;*/
}
article#calificacion{
    position: absolute;
    width: 48.5%;
    height: 50%;
    left: 0;
    border-radius: 7%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;
}
article#precio{
    position: absolute;
    width: 48.5%;
    height: 50%;
    right: 0;
    border-radius: 7%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;
}

article#com_users{
    position: absolute;
    width: 100%;
    height: 79%;
    top: 54%;
    border-radius: 7%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;
}
article#bot{
    position: absolute;
    top: 123%;
    width: 100%;
    height: 50%;
    margin: 0% auto;
    /*border-radius: 3%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;*/
}
article#caracteristicas{
    position: absolute;
    width: 69%;
    height: 100%;
    margin: 0% auto;
    border-radius: 3%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;
}
article#vendidas{
    position: absolute;
    width: 29%;
    right: 0;
    height: 100%;
    margin: 0% auto;
    border-radius: 3%;
    border: rgba(233, 0, 0, 0.439);
    border-style: dotted;
}
select#plat{
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 18%;
    border-radius: 1%;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
select#dist, select#des{
    width: 30%;
    border-radius: 1%;
    margin-left: 18%;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
p#deje_comen, p#comen{
    margin:2% 18%;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
input#enviar{ 
    color: rgb(0, 0, 0);
    position: absolute;
    margin-right: 17%;
    margin-top: 0%;
    right: 0;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    color: black;
    background-color: #f1f1f1;
    font-family:Geneva, Tahoma, sans-serif;
}
#enviar:hover{ 
    background-color: black;
    color: white;
}
input#radio1, input#radio2, input#radio3,input#radio4, input#radio5 {
    display: none;
}
label.titu{
    color: grey;
    font-size: 40px;
}
label#pop{
    margin-right: 5%;
}
p.clasi{
    position: absolute;
    top: 22%;
    left: 33%;
    width: 200px;
    direction: rtl;
    unicode-bidi: bidi-override;
}
label.titu:hover, label.titu:hover ~ label.titu{
    color: orange;
}
input#radio1:checked ~ label.titu,input#radio2:checked ~ label.titu,input#radio3:checked ~ label.titu,input#radio4:checked ~ label.titu,input#radio5:checked ~ label.titu{
    color: orange;
}
p#titu_clas{
    position: absolute;
    font-family:Geneva, Tahoma, sans-serif;
    margin: 33.5% 6%; 

}
select#plat1{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 23%;
    font-size: 12px;
    width: 60%;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
select#dist1, select#des1{
    margin-left: 23%;
    font-size: 12px;
    width: 60%;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
input#filtrar{ 
    color: rgb(0, 0, 0);
    position: absolute;
    margin-right: 39%;
    margin-top: 48%;
    right: 0;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    color: black;
    background-color: #f1f1f1;
    font-family:Verdana,Geneva, Tahoma, sans-serif;
}
#filtrar:hover{ 
    background-color: black;
    color: white;
}
p#titu_pre{
    position: absolute;
    font-family:Verdana,Geneva, Tahoma, sans-serif;
    margin: 8% 4%; 

}
p#precio{
    position: absolute;
    font-family:Verdana,Geneva, Tahoma, sans-serif;
    margin: 36% 18%;
    width: 300px; 
    font-size: 400%;
}
select#plat2{
    margin-top: 40%;
}
select#dist2{
    margin-top: 5%;
}
select#dist2, select#plat2{
    margin-left: 20%;
    font-size: 12px;
    width: 60%;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
input#mostar{ 
    color: rgb(0, 0, 0);
    position: absolute;
    margin-right: 39%;
    margin-top: 15%;
    right: 0;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    color: black;
    background-color: #f1f1f1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#mostar:hover{ 
    background-color: black;
    color: white;
}
p#titu_comen_use{
    position: absolute;
    font-family:Verdana,Geneva, Tahoma, sans-serif;
    margin: 3% 4%; 

}
p.pro{
    margin-left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p#nameuse1{
    margin-top: 9%;
}
p#nameuse2{
    margin-top: 9%;
    margin-left: 38%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea.cometario1{
    resize: none;
}
p.pro1{
    margin-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p#caracteristica_titu{
    margin-top: 2.5%;
}
p#titu_vendidas{
    position: absolute;
    font-family:Verdana,Geneva, Tahoma, sans-serif;
    margin: 8% 4%; 

}
p#vendidas{
    position: absolute;
    font-family:Verdana,Geneva, Tahoma, sans-serif;
    margin: 20% 35%; 
    font-size: 1200%;
}
select#plat3{
    margin-top: 60%;
}
select#dist3{
    margin-top: 5%;
}
select#dist3, select#plat3{
    margin-left: 20%;
    font-size: 12px;
    width: 60%;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
input#mostar2{ 
    color: rgb(0, 0, 0);
    position: absolute;
    margin-right: 39%;
    margin-top: 15%;
    right: 0;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    color: black;
    background-color: #f1f1f1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#mostar2:hover{ 
    background-color: black;
    color: white;
}
input#comprar{ 
    color: rgb(0, 0, 0);
    position: absolute;
    margin-right: 39%;
    margin-top: 70%;
    right: 0;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    color: black;
    background-color: #f1f1f1;
    font-family:Verdana,Geneva, Tahoma, sans-serif;
}
#comprar:hover{ 
    background-color: black;
    color: white;
}
.usu{
    list-style: none;
    position: absolute;
    left:1300px;
    top: 25px;
}
.salir{
    list-style: none;
    position: absolute;
    top: 40px;
    left:1300px;
}